*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: yellowgreen;
}
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
header,
h1 {
  text-align: center;
  text-decoration-line: underline;
  font-size: 54px;
  padding: 20px;
  padding-top: 0px;
  color: black;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}
.card-body {
  min-height: 100px;
}
.card-footer {
  text-align: center;
}
.btn {
  border: none;
  background-color: black;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration-line: underline;
  line-height: 22px;
  margin: 24px 24px 24px 30px;
  padding: 24px 54px;
  text-align: center;
  cursor: pointer;
}
.float-right {
  float: right;
}
#password {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px double #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #password {
    font-size: 10rem;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
